@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    scroll-behavior: smooth !important;
  }
}

body {
   font-family: 'Inter', sans-serif;
}

.navbar-fixed {
   @apply fixed top-0 left-0 right-0 z-[99] backdrop-blur-sm;
   @apply bg-white/80;
   box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-line {
   @apply w-[30px] h-[2px] my-2 block bg-dark transition duration-300 ease-in-out;
}

.hamburger-active > span:nth-child(1) {
   @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
   @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
   @apply -rotate-45;
}